In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# 시각화 라이브러리
import seaborn as sns

In [3]:
data = pd.read_csv('전국재배면적으로 판단한 재배지 구분-라벨링 뺀값.csv', encoding='cp949')

#### 강원도 지역 불러오기

In [11]:
Gangwon1 = pd.read_csv('강수량/강원도 - 강릉.csv', encoding='cp949')
Gangwon2 = pd.read_csv('강수량/강원도 - 동해,삼척시.csv', encoding='cp949')
Gangwon3 = pd.read_csv('강수량/강원도 - 속초,고성군,양양군.csv', encoding='cp949')
Gangwon5 = pd.read_csv('강수량/강원도 - 춘천,홍천군,양구군,인제군', encoding='cp949')
Gangwon6 = pd.read_csv('강수량/강원도 - 영월.csv', encoding='cp949')
Gangwon7 = pd.read_csv('강수량/강원도 - 원주,횡성군.csv', encoding='cp949')
Gangwon8 = pd.read_csv('강수량/강원도 - 정선군,영월군,평창군.csv', encoding='cp949')
Gangwon9 = pd.read_csv('강수량/강원도 - 철원,화천군.csv', encoding='cp949')
Gangwon11 = pd.read_csv('강수량/강원도 - 태백.csv', encoding='cp949')
Gangwon12 = pd.read_csv('강수량/강원도 - 홍천.csv', encoding='cp949')

In [15]:
Gyeonggi1 = pd.read_csv('강수량/경기도 - 동두천,가평,연천군,의정부,포천.csv', encoding='cp949')
Gyeonggi2 = pd.read_csv('강수량/경기도 - 수원,성남,안산시,오산시,용인,의왕시,수원시,화성시,평택.csv', encoding='cp949')
Gyeonggi3 = pd.read_csv('강수량/경기도 - 양평,여주.csv', encoding='cp949')
Gyeonggi4 = pd.read_csv('강수량/경기도 - 이천,안성.csv', encoding='cp949')
Gyeonggi5 = pd.read_csv('강수량/경기도 - 파주,고양,양주.csv', encoding='cp949')
Gyeonggi6 = pd.read_csv('강수량/인천광역시 - 인천,경기도 과천시,광명,군포,시흥,안양,부천시.csv', encoding='cp949')
Gyeonggi7 = pd.read_csv('강수량/서울특별시 - 서울,광주,구리,남양주,하남시.csv', encoding='cp949')
Gyeonggi8 = pd.read_csv('강수량/인천광역시 - 강화,김포시.csv', encoding='cp949')

In [16]:
Gyeongsangnam1 = pd.read_csv('강수량/경상남도 - 거제.csv', encoding='cp949')
Gyeongsangnam2 = pd.read_csv('강수량/경상남도 - 거창,함양군.csv', encoding='cp949')
Gyeongsangnam3 = pd.read_csv('강수량/경상남도 - 김해시.csv', encoding='cp949')
Gyeongsangnam4 = pd.read_csv('강수량/경상남도 - 남해.csv', encoding='cp949')
Gyeongsangnam5 = pd.read_csv('강수량/경상남도 - 밀양,창녕군.csv', encoding='cp949')
Gyeongsangnam6 = pd.read_csv('강수량/경상남도 - 북창원.csv', encoding='cp949')
Gyeongsangnam7 = pd.read_csv('강수량/경상남도 - 산청.csv', encoding='cp949')
Gyeongsangnam8 = pd.read_csv('강수량/경상남도 - 양산시.csv', encoding='cp949')
Gyeongsangnam9 = pd.read_csv('강수량/경상남도 - 의령군.csv', encoding='cp949')
Gyeongsangnam10 = pd.read_csv('강수량/경상남도 - 진주,서천시.csv', encoding='cp949')
Gyeongsangnam11 = pd.read_csv('강수량/경상남도 - 창원,함안군.csv', encoding='cp949')
Gyeongsangnam12 = pd.read_csv('강수량/경상남도 - 통영,고성군.csv', encoding='cp949')
Gyeongsangnam13 = pd.read_csv('강수량/경상남도 - 함양군.csv', encoding='cp949')
Gyeongsangnam14 = pd.read_csv('강수량/경상남도 - 함천,고령군(북).csv', encoding='cp949')

In [17]:
Gyeongsangbuk1 = pd.read_csv('강수량/경상북도 - 경주시.csv', encoding='cp949')
Gyeongsangbuk2 = pd.read_csv('강수량/경상북도 - 구미,군위군,김천시,칠곡군,상주시.csv', encoding='cp949')
Gyeongsangbuk3 = pd.read_csv('강수량/경상북도 - 문경,예천군.csv', encoding='cp949')
Gyeongsangbuk4 = pd.read_csv('강수량/경상북도 - 봉화.csv', encoding='cp949')
Gyeongsangbuk5 = pd.read_csv('강수량/경상북도 - 성주.csv', encoding='cp949')
Gyeongsangbuk6 = pd.read_csv('강수량/경상북도 - 안동.csv', encoding='cp949')
Gyeongsangbuk7 = pd.read_csv('강수량/경상북도 - 영덕.csv', encoding='cp949')
Gyeongsangbuk8 = pd.read_csv('강수량/경상북도 - 영주.csv', encoding='cp949')
Gyeongsangbuk9 = pd.read_csv('강수량/경상북도 - 영천.csv', encoding='cp949')
Gyeongsangbuk10 = pd.read_csv('강수량/경상북도 - 울릉도.csv', encoding='cp949')
Gyeongsangbuk11 = pd.read_csv('강수량/경상북도 - 울진.csv', encoding='cp949')
Gyeongsangbuk12 = pd.read_csv('강수량/경상북도 - 의성.csv', encoding='cp949')
Gyeongsangbuk13 = pd.read_csv('강수량/경상북도 - 청송군,양양군.csv', encoding='cp949')
Gyeongsangbuk14 = pd.read_csv('강수량/경상북도 - 포항,고령군.csv', encoding='cp949')
Gyeongsangbuk15 = pd.read_csv('강수량/대구광역시 - 대구,청도군.csv', encoding='cp949')

In [19]:
seoul = pd.read_csv('강수량/서울특별시 - 서울,광주,구리,남양주,하남시.csv', encoding='cp949')
Gwangju = pd.read_csv('강수량/광주광역시 - 광주,나주시,담양군,장성군,화순군,영암군.csv', encoding='cp949')
Daegu = pd.read_csv('강수량/대구광역시 - 대구,청도군.csv', encoding='cp949')
Daejeon = pd.read_csv('강수량/대전광역시 - 대전,영동군,옥천군,계룡시.csv', encoding='cp949')
Busan = pd.read_csv('강수량/부산광역시 - 부산.csv', encoding='cp949')
Sejong = pd.read_csv('강수량/세종특별자치시 - 세종 (잘린 데이터),공주시.csv', encoding='cp949')
Ulsan = pd.read_csv('강수량/울산광역시 - 울산.csv', encoding='cp949')
Incheon = pd.read_csv('강수량/인천광역시 - 인천,경기도 과천시,광명,군포,시흥,안양,부천시.csv', encoding='cp949')

In [ ]:
Jeollanam1 = pd.read_csv('강수량/전라남도 - 강진군.csv', encoding='cp949')
Jeollanam2 = pd.read_csv('강수량/전라남도 - 고흥.csv', encoding='cp949')
Jeollanam3 = pd.read_csv('강수량/전라남도 - 광양시.csv', encoding='cp949')
Jeollanam4 = pd.read_csv('강수량/광주광역시 - 광주,나주시,담양군,장성군,화순군,영암군.csv', encoding='cp949')
Jeollanam5 = pd.read_csv('강수량/전라남도 - 목포,무안군,신안군,함평군.csv', encoding='cp949')
Jeollanam6 = pd.read_csv('강수량/전라남도 - 보성군.csv', encoding='cp949')
Jeollanam7 = pd.read_csv('강수량/전라남도 - 순천,곡성,구례군.csv', encoding='cp949')
Jeollanam8 = pd.read_csv('강수량/전라남도 - 여수.csv', encoding='cp949')
Jeollanam9 = pd.read_csv('강수량/전라남도 - 영광군.csv', encoding='cp949')
Jeollanam10 = pd.read_csv('강수량/전라남도 - 완도.csv', encoding='cp949')
Jeollanam11 = pd.read_csv('강수량/전라남도 - 장흥.csv', encoding='cp949')
Jeollanam12 = pd.read_csv('강수량/전라남도 - 진도군.csv', encoding='cp949')
Jeollanam13 = pd.read_csv('강수량/전라남도 - 해남.csv', encoding='cp949')
Jeollanam14 = pd.read_csv('강수량/전라남도 - 흑산도.csv', encoding='cp949')
Jeollanam15 = pd.read_csv('강수량/전라남도 - 진도(첨칠산)(잘린데이터).csv', encoding='cp949')

In [ ]:
Jeollabuk1 = pd.read_csv('강수량/전라북도 - 고창군.csv', encoding='cp949')
Jeollabuk2 = pd.read_csv('강수량/전라북도 - 군산.csv', encoding='cp949')
Jeollabuk3 = pd.read_csv('강수량/전라북도 - 남원.csv', encoding='cp949')
Jeollabuk4 = pd.read_csv('강수량/전라북도 - 부안,김제시.csv', encoding='cp949')
Jeollabuk5 = pd.read_csv('강수량/전라남도 - 강진군.csv', encoding='cp949')
Jeollabuk6 = pd.read_csv('강수량/전라북도 - 순창군.csv', encoding='cp949')
Jeollabuk7 = pd.read_csv('강수량/전라북도 - 임실.csv', encoding='cp949')
Jeollabuk8 = pd.read_csv('강수량/전라북도 - 장수,진안군,무주군.csv', encoding='cp949')
Jeollabuk9 = pd.read_csv('강수량/전라북도 - 전주,완주군,익산시.csv', encoding='cp949')
Jeollabuk10 = pd.read_csv('강수량/전라북도 - 정읍.csv', encoding='cp949')

In [ ]:
Jeju1 = pd.read_csv('강수량/제주도 - 서귀포.csv', encoding='cp949')
Jeju1 = pd.read_csv('강수량/제주도 - 제주.csv', encoding='cp949')

In [ ]:
Chungcheongnam1 = pd.read_csv('강수량/충청남도 - 금산.csv', encoding='cp949')
Chungcheongnam2 = pd.read_csv('강수량/충청남도 - 보령,서천군.csv', encoding='cp949')
Chungcheongnam3 = pd.read_csv('강수량/충청남도 - 부여,논산시.csv', encoding='cp949')    
Chungcheongnam4 = pd.read_csv('강수량/충청남도 - 서산,당진.csv', encoding='cp949')    
Chungcheongnam5 = pd.read_csv('강수량/충청남도 - 천안,아산시.csv', encoding='cp949')    
Chungcheongnam6 = pd.read_csv('강수량/충청남도 - 홍성,예산군,청양군,태안군.csv', encoding='cp949')
Chungcheongnam7 = pd.read_csv('강수량/대전광역시 - 대전,영동군,옥천군,계룡시.csv', encoding='cp949')

In [ ]:
Chungcheongbuk1 = pd.read_csv('강수량/충청북도 - 보은.csv', encoding='cp949')
Chungcheongbuk2 = pd.read_csv('강수량/충청북도 - 제천,단양군.csv', encoding='cp949')
Chungcheongbuk3 = pd.read_csv('강수량/충청북도 - 청주,증평군,진천군.csv', encoding='cp949')
Chungcheongbuk4 = pd.read_csv('강수량/충청북도 - 추풍령.csv', encoding='cp949')
Chungcheongbuk5 = pd.read_csv('강수량/충청북도 - 충주,괴산군,음성군.csv', encoding='cp949')

In [38]:
Gangwon1

,18-Jan,18-Feb,18-Mar,18-Apr,18-May,18-Jun,18-Jul,18-Aug,18-Sep,18-Oct,...,20-Mar,20-Apr,20-May,20-Jun,20-Jul,20-Aug,20-Sep,20-Oct,20-Nov,20-Dec
0,2.5,52,94,151.4,162.9,38.6,195.5,419.1,161.2,248,...,47.1,65.6,95.5,270.4,375.9,150.4,613.8,0.6,7.7,0.9

In [39]:
Gangwon2

,18-Jan,18-Feb,18-Mar,18-Apr,18-May,18-Jun,18-Jul,18-Aug,18-Sep,18-Oct,...,20-Mar,20-Apr,20-May,20-Jun,20-Jul,20-Aug,20-Sep,20-Oct,20-Nov,20-Dec
0,4.4,53.4,95.4,131.8,63.6,36.6,286,219.8,205.6,273.2,...,48.3,50.9,90.3,120.4,346.1,171.9,304,5.1,11.5,2.3

In [10]:
Gangwon3

,18-Jan,18-Feb,18-Mar,18-Apr,18-May,18-Jun,18-Jul,18-Aug,18-Sep,18-Oct,...,20-Mar,20-Apr,20-May,20-Jun,20-Jul,20-Aug,20-Sep,20-Oct,20-Nov,20-Dec
0,3.9,54.4,55,141.7,123.6,46.5,185.4,625,66.1,257.6,...,38,38.4,245.1,271.9,374.7,411.3,482.8,0,19.2,0.5

In [41]:
Gangwon3

,18-Jan,18-Feb,18-Mar,18-Apr,18-May,18-Jun,18-Jul,18-Aug,18-Sep,18-Oct,...,20-Mar,20-Apr,20-May,20-Jun,20-Jul,20-Aug,20-Sep,20-Oct,20-Nov,20-Dec
0,3.9,54.4,55,141.7,123.6,46.5,185.4,625,66.1,257.6,...,38,38.4,245.1,271.9,374.7,411.3,482.8,0,19.2,0.5

In [21]:
data.head()

   채취년도            경작지주소   산도   유효인산   유기물  마그네슘    칼륨   칼슘  전기전도도
0  2020  강원도 강릉시 강동면 모전리  6.0   62.0  23.0   1.1  0.29  4.7   0.90
1  2020  강원도 강릉시 강동면 모전리  5.5  270.0  20.0   0.8  0.36  3.8   0.95
2  2020  강원도 강릉시 강동면 모전리  5.8  211.0  20.0   0.8  0.38  3.8   1.10
3  2020  강원도 강릉시 강동면 모전리  5.3  271.0  20.0   0.8  0.38  4.1   0.75
4  2020  강원도 강릉시 강동면 모전리  7.0  189.0  22.0   2.1  0.45  8.7   0.80

In [22]:
data2.columns

Index(['18-Jan', '18-Feb', '18-Mar', '18-Apr', '18-May', '18-Jun', '18-Jul',
       '18-Aug', '18-Sep', '18-Oct', '18-Nov', '18-Dec', '19-Jan', '19-Feb',
       '19-Mar', '19-Apr', '19-May', '19-Jun', '19-Jul', '19-Aug', '19-Sep',
       '19-Oct', '19-Nov', '19-Dec', '20-Jan', '20-Feb', '20-Mar', '20-Apr',
       '20-May', '20-Jun', '20-Jul', '20-Aug', '20-Sep', '20-Oct', '20-Nov',
       '20-Dec'],
      dtype='object')

In [21]:
for i in Gangwon1.columns:
    data[i] = np.nan
data

,채취년도,경작지주소,산도,유효인산,유기물,마그네슘,칼륨,칼슘,전기전도도,18-Jan,...,20-Mar,20-Apr,20-May,20-Jun,20-Jul,20-Aug,20-Sep,20-Oct,20-Nov,20-Dec
0,2020,강원도 강릉시 강동면 모전리,6.349,357.022222,18.666667,1.464444,0.511778,6.313333,0.874444,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020,강원도 강릉시 강동면 산성우리,6.271,359.285714,26.428571,1.271429,0.495714,6.414286,0.707143,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020,강원도 강릉시 강동면 상시동리,6.200,340.500000,18.000000,1.450000,0.365000,7.200000,0.400000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020,강원도 강릉시 강동면 심곡리,5.953,578.466667,28.733333,1.820000,1.143333,6.493333,0.903333,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020,강원도 강릉시 강동면 안인리,7.145,132.545455,24.727273,1.681818,0.293636,8.327273,1.231818,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14801,2020,충청북도 청주시청원구 정북동,7.597,201.251337,15.508021,1.968449,0.241123,7.015508,0.500000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14802,2020,충청북도 청주시청원구 정상동,7.255,303.096774,14.354839,1.600000,0.260645,6.661290,0.771429,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14803,2020,충청북도 청주시청원구 정하동,7.200,220.600000,25.400000,1.280000,0.444000,5.400000,0.800000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14804,2020,충청북도 청주시청원구 주성동,6.386,291.857143,25.857143,1.114286,0.341429,5.171429,0.400000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14805,2020,충청북도 청주시청원구 주중동,5.900,40.000000,21.000000,1.100000,0.210000,5.500000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('강릉시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gangwon1.loc[0,j]
    else :
        pass

In [15]:
data

,채취년도,경작지주소,산도,유효인산,유기물,마그네슘,칼륨,칼슘,전기전도도,18-Jan,...,20-Mar,20-Apr,20-May,20-Jun,20-Jul,20-Aug,20-Sep,20-Oct,20-Nov,20-Dec
0,2020,강원도 강릉시 강동면 모전리,6.349,357.022222,18.666667,1.464444,0.511778,6.313333,0.874444,2.5,...,47.1,65.6,95.5,270.4,375.9,150.4,613.8,0.6,7.7,0.9
1,2020,강원도 강릉시 강동면 산성우리,6.271,359.285714,26.428571,1.271429,0.495714,6.414286,0.707143,2.5,...,47.1,65.6,95.5,270.4,375.9,150.4,613.8,0.6,7.7,0.9
2,2020,강원도 강릉시 강동면 상시동리,6.200,340.500000,18.000000,1.450000,0.365000,7.200000,0.400000,2.5,...,47.1,65.6,95.5,270.4,375.9,150.4,613.8,0.6,7.7,0.9
3,2020,강원도 강릉시 강동면 심곡리,5.953,578.466667,28.733333,1.820000,1.143333,6.493333,0.903333,2.5,...,47.1,65.6,95.5,270.4,375.9,150.4,613.8,0.6,7.7,0.9
4,2020,강원도 강릉시 강동면 안인리,7.145,132.545455,24.727273,1.681818,0.293636,8.327273,1.231818,2.5,...,47.1,65.6,95.5,270.4,375.9,150.4,613.8,0.6,7.7,0.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14801,2020,충청북도 청주시청원구 정북동,7.597,201.251337,15.508021,1.968449,0.241123,7.015508,0.500000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14802,2020,충청북도 청주시청원구 정상동,7.255,303.096774,14.354839,1.600000,0.260645,6.661290,0.771429,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14803,2020,충청북도 청주시청원구 정하동,7.200,220.600000,25.400000,1.280000,0.444000,5.400000,0.800000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14804,2020,충청북도 청주시청원구 주성동,6.386,291.857143,25.857143,1.114286,0.341429,5.171429,0.400000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14805,2020,충청북도 청주시청원구 주중동,5.900,40.000000,21.000000,1.100000,0.210000,5.500000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('고성군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gangwon3.loc[0,j]
    else :
        pass

In [24]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('동해시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gangwon2.loc[0,j]
    else :
        pass

In [25]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('삼척시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gangwon2.loc[0,j]
    else :
        pass

In [26]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('속초시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gangwon3.loc[0,j]
    else :
        pass

In [27]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('양구군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gangwon5.loc[0,j]
    else :
        pass

In [28]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('양양군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gangwon3.loc[0,j]
    else :
        pass

In [29]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('영월군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gangwon6.loc[0,j]
    else :
        pass

In [30]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('원주시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gangwon7.loc[0,j]
    else :
        pass

In [31]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('인제군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gangwon5.loc[0,j]
    else :
        pass

In [32]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('정선군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gangwon8.loc[0,j]
    else :
        pass

In [33]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('철원군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gangwon9.loc[0,j]
    else :
        pass

In [34]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('춘천시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gangwon5.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('태백시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gangwon11.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('평창군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gangwon8.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('홍천군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gangwon12.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('화천군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gangwon9.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('횡성군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gangwon7.loc[0,j]
    else :
        pass

## 경기도

In [35]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('가평군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gyeonggi1.loc[0,j]
    else :
        pass

In [36]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('고양시덕양구')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gyeonggi5.loc[0,j]
    else :
        pass

In [37]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('과천시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gyeonggi6.loc[0,j]
    else :
        pass

In [38]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('광명시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gyeonggi6.loc[0,j]
    else :
        pass

In [39]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('광주시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gyeonggi7.loc[0,j]
    else :
        pass

In [40]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('김포시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gyeonggi8.loc[0,j]
    else :
        pass

In [41]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('군포시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gyeonggi6.loc[0,j]
    else :
        pass

In [42]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('남양주시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gyeonggi7.loc[0,j]
    else :
        pass

In [43]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('동두천시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gyeonggi1.loc[0,j]
    else :
        pass

In [44]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('부천시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gyeonggi6.loc[0,j]
    else :
        pass

In [45]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('성남시분당구')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gyeonggi2.loc[0,j]
    else :
        pass

In [46]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('수원시권선구')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gyeonggi2.loc[0,j]
    else :
        pass

In [47]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('수원시장안구')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gyeonggi2.loc[0,j]
    else :
        pass

In [48]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('시흥시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gyeonggi6.loc[0,j]
    else :
        pass

In [49]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('안산시단원구')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gyeonggi2.loc[0,j]
    else :
        pass

In [50]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('안성시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gyeonggi4.loc[0,j]
    else :
        pass

In [51]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('안양시민인군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gyeonggi6.loc[0,j]
    else :
        pass

In [52]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('양주시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gyeonggi5.loc[0,j]
    else :
        pass

In [53]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('양평군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gyeonggi3.loc[0,j]
    else :
        pass

In [54]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('여주시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gyeonggi3.loc[0,j]
    else :
        pass

In [55]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('연천군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gyeonggi1.loc[0,j]
    else :
        pass

In [56]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('오산시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gyeonggi2.loc[0,j]
    else :
        pass

In [57]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('용인시기흥구')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gyeonggi2.loc[0,j]
    else :
        pass

In [58]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('용인시처인구')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gyeonggi2.loc[0,j]
    else :
        pass

In [59]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('의왕시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gyeonggi2.loc[0,j]
    else :
        pass

In [60]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('의정부시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gyeonggi1.loc[0,j]
    else :
        pass

In [61]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('이천시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gyeonggi4.loc[0,j]
    else :
        pass

In [62]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('파주시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gyeonggi5.loc[0,j]
    else :
        pass

In [63]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('평택시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gyeonggi2.loc[0,j]
    else :
        pass

In [64]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('포천시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gyeonggi1.loc[0,j]
    else :
        pass

In [65]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('하남시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gyeonggi7.loc[0,j]
    else :
        pass

In [66]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('화성시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gyeonggi2.loc[0,j]
    else :
        pass

## 경상남도

In [67]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('거제시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =  Gyeongsangnam1.loc[0,j]
    else :
        pass

In [68]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('거창군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =  Gyeongsangnam2.loc[0,j]
    else :
        pass

In [69]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('고성군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =  Gyeongsangnam12.loc[0,j]
    else :
        pass

In [70]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('김해시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =  Gyeongsangnam3.loc[0,j]
    else :
        pass

In [71]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('남해군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =  Gyeongsangnam4.loc[0,j]
    else :
        pass

In [72]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('밀양시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =  Gyeongsangnam5.loc[0,j]
    else :
        pass

In [73]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('서천시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =  Gyeongsangnam10.loc[0,j]
    else :
        pass

In [74]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('산청군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =  Gyeongsangnam7.loc[0,j]
    else :
        pass

In [75]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('양산시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =  Gyeongsangnam8.loc[0,j]
    else :
        pass

In [76]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('의령군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =  Gyeongsangnam9.loc[0,j]
    else :
        pass

In [77]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('진주시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =  Gyeongsangnam10.loc[0,j]
    else :
        pass

In [78]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('창녕군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =  Gyeongsangnam5.loc[0,j]
    else :
        pass

# 경상북도

In [79]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('경주시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Gyeongsangbuk1.loc[0,j]
    else :
        pass

In [80]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('고령군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] = Gyeongsangnam14.loc[0,j]
    else :
        pass

In [81]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('구미시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Gyeongsangbuk2.loc[0,j]
    else :
        pass

In [82]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('군위군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Gyeongsangbuk2.loc[0,j]
    else :
        pass

In [83]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('김천시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Gyeongsangbuk2.loc[0,j]
    else :
        pass

In [84]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('문경시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Gyeongsangbuk3.loc[0,j]
    else :
        pass

In [85]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('봉화군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Gyeongsangbuk4.loc[0,j]
    else :
        pass

In [86]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('상주시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Gyeongsangbuk2.loc[0,j]
    else :
        pass

In [87]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('성주군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Gyeongsangbuk5.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('안동시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Gyeongsangbuk6.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('영덕군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Gyeongsangbuk7.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('영주시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Gyeongsangbuk8.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('예천군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Gyeongsangbuk3.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('울릉군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Gyeongsangbuk10.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('울진군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Gyeongsangbuk11.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('의성군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Gyeongsangbuk12.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('청도군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Gyeongsangbuk15.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('청송군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Gyeongsangbuk13.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('칠곡군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Gyeongsangbuk2.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('포항시남구')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Gyeongsangbuk14.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('포항시북구')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Gyeongsangbuk14.loc[0,j]
    else :
        pass

In [ ]:
data

# 전라남도

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('강진군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Jeollanam1.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('고흥군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Jeollanam2.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('곡성군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Jeollanam7.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('광양시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Jeollanam3.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('구례군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Jeollanam7.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('나주시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Jeollanam4.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('담양군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Jeollanam4.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('무안군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Jeollanam5.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('보성군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Jeollanam6.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('순천시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Jeollanam7.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('신안군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Jeollanam5.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('여수시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Jeollanam8.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('영광군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Jeollanam9.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('영암군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Jeollanam4.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('완도군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Jeollanam10.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('장성군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Jeollanam4.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('장흥군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Jeollanam11.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('진도군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Jeollanam12.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('함평군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Jeollanam5.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('해남군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Jeollanam13.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('화순군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Jeollanam4.loc[0,j]
    else :
        pass

# 전라북도

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('고창군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Jeollabuk1.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('군산시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Jeollabuk2.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('김제시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Jeollabuk4.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('남원시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Jeollabuk3.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('무주군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Jeollabuk8.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('부안군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Jeollabuk4.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('순창군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Jeollabuk6.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('완주군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Jeollabuk9.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('익산시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Jeollabuk9.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('임실군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Jeollabuk7.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('장수군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Jeollabuk8.loc[0,j]
    else :
        pass

In [ ]:
# 사유: 전라도가 아닌 경상도에 있음, 경상도엔 for문 이미 들어가있음
# for i in range(0,data.shape[0]):
#     if data['경작지주소'].str.contains('진주시')[i] :
#         for j in Gangwon1.columns:
#             data.loc[i,j] =   Jeollabuk9.loc[0,j]
#     else :
#         pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('정읍시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Jeollabuk10.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('진안군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Jeollabuk8.loc[0,j]
    else :
        pass

# 제주특별자치도

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('서귀포시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   jeju1.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('제주')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   jeju2.loc[0,j]
    else :
        pass

# 충청남도

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('계룡시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Chungcheongnam7.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('공주시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Sejong.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('금산군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Chungcheongnam1.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('논산시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Chungcheongnam3.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('당진시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Chungcheongnam4.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('부여군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Chungcheongnam3.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('보령시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Chungcheongnam2.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('서산시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Chungcheongnam4.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('서천군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Chungcheongnam2.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('아산시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Chungcheongnam5.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('예산군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Chungcheongnam6.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('천안시북구')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Chungcheongnam5.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('천안시동남구')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Chungcheongnam5.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('청양군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Chungcheongnam6.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('태안군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Chungcheongnam6.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('홍성군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Chungcheongnam6.loc[0,j]
    else :
        pass

# 충청북도

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('괴산군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Chungcheongbuk5.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('단양군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Chungcheongbuk2.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('보은군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Chungcheongbuk1.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('영동군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Chungcheongnam7.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('옥천군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Daejeon.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('음성군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Chungcheongbuk5.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('제천시')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Chungcheongbuk2.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('증평군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Chungcheongbuk3.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('진천군')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Chungcheongbuk3.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('청주시상당구')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Chungcheongbuk3.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('청주시서원구')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Chungcheongbuk3.loc[0,j]
    else :
        pass

In [ ]:
for i in range(0,data.shape[0]):
    if data['경작지주소'].str.contains('청주시청원구')[i] :
        for j in Gangwon1.columns:
            data.loc[i,j] =   Chungcheongbuk3.loc[0,j]
    else :
        pass

In [ ]:
data

In [ ]:
submission.to_csv('강수량데이터만든거.csv',index = False)